<html>
<head>
    <meta charset="UTF-8">
    <title>keep moving</title>
</head>
<body>
<div style="display: block; margin: 0 auto; width: 50%;">
    <a href="/my/getUser" style="color:red;Font-size:16px">查询user信息1</a>
    <a href="/my/add?id=6&name=yourself&password=pwd" style="color:green;Font-size:16px">添加一条信息</a>
    <a href="/my/delete?id=1" style="color:lawngreen;Font-size:16px">删除一条信息</a>
    <a href="/my/update?id=6&name=you&password=pwddd" style="color:deeppink;Font-size:16px">更新所添加的</a>
</div>
</body>
</html>