<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="selectAll" parameterType="int" resultType="com.example.demo.bean.User">
        select * from mydata.user
    </select>
    <select id="selectOne" resultType="com.example.demo.bean.User">
        select * from mydata.user where id=#{id}
    </select>
    <insert id="add" parameterType="com.example.demo.bean.User">
        insert into mydata.user(id,name,password)values(#{id},#{name},#{password})
    </insert>
    <delete id="delete" parameterType="int">
        delete from mydata.user where id = #{id}
    </delete>
    <update id="update" parameterType="com.example.demo.bean.User">
        update mydata.user set name=#{name},password=#{password} where id=#{id}
    </update>
</mapper>
